In [197]:
"""
Creator: Ivanovitch Silva
Date: 26 Mar. 2022
Create API
"""
import argparse
import logging
import pandas as pd
import joblib
import json
from collections import defaultdict
import sys
import pathlib
import os
# append the folder into the path
path = os.path.join(pathlib.Path.cwd(), "")
sys.path.append(path)
from pipeline.train.helper import inference, compute_model_metrics
print(sys.path)

['/Users/ivanovitchsilva/mlops_nd_c3', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python38.zip', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8/lib-dynload', '', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8/site-packages', '/Users/ivanovitchsilva/mlops_nd_c3/', '/Users/ivanovitchsilva/mlops_nd_c3/pipeline', '/Users/ivanovitchsilva/mlops_nd_c3/']

In [223]:

# Downloading and reading test artifact
df_test = pd.read_csv("pipeline/data/test_data.csv")

# Extract the target from the features
x_test = df_test.copy()
y_test = x_test.pop("salary")

# Take only 1 instance
x_test = x_test.iloc[114:115]
y_test = y_test.iloc[114:115]

In [224]:
y_test

114    >50K
Name: salary, dtype: object

In [225]:
x_test

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
114,51,Private,178054,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,?

In [220]:
import numpy as np
# Extract the encoding of the target variable
le = joblib.load("pipeline/data/encoder_export")

# transform y_train
y_test = le.transform(np.array(y_test))

In [221]:
le.inverse_transform([0, 1])

array(['<=50K', '>50K'], dtype=object)

In [226]:
# Download inference artifact
pipe = joblib.load("pipeline/data/model_export")

# Predict test data
predict = inference(pipe, x_test)

print(predict)

[0]

In [180]:
x_test.iloc[-1:]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
9,61,Local-gov,144723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,60,United-States

In [196]:
inference(pipe, x_test.iloc[-1:])

array([0])

In [190]:
x_test.iloc[-1].to_dict()

{'age': 61,
 'workclass': 'Local-gov',
 'fnlwgt': 144723,
 'education': 'Masters',
 'education_num': 14,
 'marital_status': 'Married-civ-spouse',
 'occupation': 'Exec-managerial',
 'relationship': 'Husband',
 'race': 'White',
 'sex': 'Male',
 'capital_gain': 7298,
 'capital_loss': 0,
 'hours_per_week': 60,
 'native_country': 'United-States'}

In [191]:
y_test

0     >50K
1    <=50K
2    <=50K
3    <=50K
4    <=50K
5    <=50K
6    <=50K
7    <=50K
8    <=50K
9     >50K
Name: salary, dtype: object

In [159]:
aux = x_test.iloc[-1].to_dict()

In [165]:
aux

{'age': 61,
 'workclass': 'Local-gov',
 'fnlwgt': 144723,
 'education': 'Masters',
 'education_num': 14,
 'marital_status': 'Married-civ-spouse',
 'occupation': 'Exec-managerial',
 'relationship': 'Husband',
 'race': 'White',
 'sex': 'Male',
 'capital_gain': 7298,
 'capital_loss': 0,
 'hours_per_week': 60,
 'native_country': 'United-States'}

In [160]:
df = pd.DataFrame([aux])

In [161]:
df.values

array([[61, 'Local-gov', 144723, 'Masters', 14, 'Married-civ-spouse',
        'Exec-managerial', 'Husband', 'White', 'Male', 7298, 0, 60,
        'United-States']], dtype=object)

In [162]:
pipe.predict(df)

array([0])

In [163]:
# Predict test data
predict = inference(pipe, df)
predict

array([0])

In [164]:
x_test

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,72,Self-emp-inc,473748,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,25,United-States
1,30,Private,306383,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States
2,22,Private,229987,Some-college,10,Never-married,Tech-support,Other-relative,Asian-Pac-Islander,Female,0,0,32,United-States
3,22,Private,189950,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,55,United-States
4,46,Private,218329,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
5,48,Private,320421,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
6,23,Local-gov,210029,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States
7,58,Private,126104,Masters,14,Divorced,Adm-clerical,Not-in-family,White,Female,0,1980,45,United-States
8,23,Private,166527,Some-college,10,Never-married,Exec-managerial,Own-child,Other,Female,0,0,40,United-States
9,61,Local-gov,144723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,60,United-States

In [24]:
df

,age,workclass,fnlgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,72,Self-emp-inc,473748,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,25,United-States