In [1]:
"""
Creator: Ivanovitch Silva
Date: 26 Mar. 2022
Create API
"""
import argparse
import logging
import pandas as pd
import joblib
import json
from collections import defaultdict
import sys
import pathlib
import os
# append the folder into the path
path = os.path.join(pathlib.Path.cwd(), "")
sys.path.append(path)
from pipeline.train.helper import inference, compute_model_metrics
print(sys.path)

['/Users/ivanovitchsilva/mlops_nd_c3', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python38.zip', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8/lib-dynload', '', '/Users/ivanovitchsilva/opt/anaconda3/envs/deploy/lib/python3.8/site-packages', '/Users/ivanovitchsilva/mlops_nd_c3/', '/Users/ivanovitchsilva/mlops_nd_c3/pipeline']

In [46]:

# Downloading and reading test artifact
df_test = pd.read_csv("pipeline/data/test_data.csv")

# Extract the target from the features
x_test = df_test.copy()
y_test = x_test.pop("salary")

# Take only 1 instance
x_test = x_test.iloc[-5:]
y_test = y_test.iloc[-5:]

In [47]:
y_test

9757    <=50K
9758    <=50K
9759     >50K
9760     >50K
9761    <=50K
Name: salary, dtype: object

In [48]:
x_test

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
9757,58,Self-emp-not-inc,140729,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,35,United-States
9758,58,Local-gov,92141,Assoc-acdm,12,Widowed,Adm-clerical,Not-in-family,Black,Female,0,0,40,United-States
9759,45,Private,266860,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
9760,46,Private,364548,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,8614,0,40,United-States
9761,45,Private,428350,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,1740,40,United-States

In [49]:
import numpy as np
# Extract the encoding of the target variable
le = joblib.load("pipeline/data/encoder_export")

# transform y_train
y_test = le.transform(np.array(y_test))

In [50]:
le.inverse_transform([0, 1])

array(['<=50K', '>50K'], dtype=object)

In [51]:
# Download inference artifact
pipe = joblib.load("pipeline/data/model_export")

# Predict test data
predict = inference(pipe, x_test)

print(predict)

[0 0 1 1 0]

In [52]:
sum(predict)

2

In [53]:
aux = x_test.iloc[-2].to_dict()

In [54]:
aux

{'age': 46,
 'workclass': 'Private',
 'fnlwgt': 364548,
 'education': 'Bachelors',
 'education_num': 13,
 'marital_status': 'Divorced',
 'occupation': 'Sales',
 'relationship': 'Not-in-family',
 'race': 'White',
 'sex': 'Male',
 'capital_gain': 8614,
 'capital_loss': 0,
 'hours_per_week': 40,
 'native_country': 'United-States'}

In [32]:
df = pd.DataFrame([aux])

In [33]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,46,Private,364548,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,8614,0,40,United-States

In [34]:
pipe.predict_proba(df)

array([[0.00819725, 0.99180275]], dtype=float32)

In [35]:
pipe.predict_proba(df)

array([[0.00819725, 0.99180275]], dtype=float32)

In [36]:
pipe.predict_proba(x_test)

array([[8.8608670e-01, 1.1391331e-01],
       [7.3827106e-01, 2.6172894e-01],
       [9.9950343e-01, 4.9658993e-04],
       [6.6157997e-01, 3.3842000e-01],
       [9.9994463e-01, 5.5343651e-05],
       [7.4778473e-01, 2.5221524e-01],
       [8.6894864e-01, 1.3105136e-01],
       [1.8264055e-03, 9.9817359e-01],
       [8.1972480e-03, 9.9180275e-01],
       [8.7331384e-01, 1.2668614e-01]], dtype=float32)

In [37]:
pipe.predict_proba(x_test.iloc[-5:])

array([[0.74778473, 0.25221524],
       [0.86894864, 0.13105136],
       [0.00182641, 0.9981736 ],
       [0.00819725, 0.99180275],
       [0.87331384, 0.12668614]], dtype=float32)

In [38]:
pipe.predict_proba(x_test)

array([[8.8608670e-01, 1.1391331e-01],
       [7.3827106e-01, 2.6172894e-01],
       [9.9950343e-01, 4.9658993e-04],
       [6.6157997e-01, 3.3842000e-01],
       [9.9994463e-01, 5.5343651e-05],
       [7.4778473e-01, 2.5221524e-01],
       [8.6894864e-01, 1.3105136e-01],
       [1.8264055e-03, 9.9817359e-01],
       [8.1972480e-03, 9.9180275e-01],
       [8.7331384e-01, 1.2668614e-01]], dtype=float32)

In [39]:
# Predict test data
predict = inference(pipe, df)
predict

array([1])

In [477]:
pipe.named_steps['full_pipeline'].get_params()["num_pipeline"][2].scaler.data_max_

array([9.0000e+01, 8.1675e+05, 1.6000e+01, 9.9999e+04, 3.7700e+03,
       9.9000e+01])

In [470]:
pipe.named_steps['full_pipeline'].get_params()["num_pipeline"][2].scaler.min_

array([-0.23287671, -0.0240917 , -0.06666667,  0.        ,  0.        ,
       -0.01020408])

In [509]:
pipe

Pipeline(steps=[('full_pipeline',
                 FeatureUnion(transformer_list=[('cat_pipeline',
                                                 Pipeline(steps=[('cat_selector',
                                                                  FeatureSelector(feature_names=['workclass',
                                                                                                 'education',
                                                                                                 'marital_status',
                                                                                                 'occupation',
                                                                                                 'relationship',
                                                                                                 'race',
                                                                                                 'sex',
                                                                                                 'native_country'])),
                                                                 ('imputer_cat',
                                                                  SimpleImputer(strategy='most_frequent')),
                                                                 ('cat_transformer',
                                                                  CategoricalTransformer(colname...
                               gamma=0, gpu_id=-1, importance_type=None,
                               interaction_constraints='', learning_rate=0.1,
                               max_delta_step=0, max_depth=15,
                               min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=400,
                               n_jobs=8, num_parallel_tree=1, predictor='auto',
                               random_state=0, reg_alpha=0, reg_lambda=1,
                               scale_pos_weight=1, subsample=0.3,
                               tree_method='exact', validate_parameters=1,
                               verbosity=None))])

In [164]:
x_test

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,72,Self-emp-inc,473748,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,25,United-States
1,30,Private,306383,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States
2,22,Private,229987,Some-college,10,Never-married,Tech-support,Other-relative,Asian-Pac-Islander,Female,0,0,32,United-States
3,22,Private,189950,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,55,United-States
4,46,Private,218329,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
5,48,Private,320421,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
6,23,Local-gov,210029,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States
7,58,Private,126104,Masters,14,Divorced,Adm-clerical,Not-in-family,White,Female,0,1980,45,United-States
8,23,Private,166527,Some-college,10,Never-married,Exec-managerial,Own-child,Other,Female,0,0,40,United-States
9,61,Local-gov,144723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298,0,60,United-States

In [453]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,50,Private,31014,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States

In [411]:
from sklearn.preprocessing import MinMaxScaler

In [454]:
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler()

In [455]:
scaler.fit(data)

MinMaxScaler()

In [456]:
scaler.min_

array([ 0.5  , -0.125])